$dark-gray: #303030;
$gray: #707070;
$light-gray: rgb(156, 156, 156);
$lightest-gray: rgb(209, 209, 209);
$superlight-gray: #f6f6f6;
$dark-red: #c60e2e;
$red: #e4163a;
$light-red: #ff5761;
$lightest-red: #ff768e;
$blue: #344472;
$light-blue: #f5fbff;
$white: #fff;
