$dark-gray: #303030;
$gray: #707070;
$light-gray: #9c9c9c;
$lightest-gray: #d1d1d1;
$superlight-gray: #f6f6f6;
$dark-red: #c60e2e;
$red: #e4163a;
$light-red: #ff5761;
$lightest-red: #ff768e;
$blue: #344472;
$light-blue: #f5fbff;
$white: #fff;
